* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*nav*/

#nav {
    width: 40px;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: black;
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
}

.nav-link:hover {
    color: #abccbc;
}

.btn-nav {
    border: none;
    background-color: transparent;
    width: 130px;
    height: 30px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: #F2CC8E;
}

.navbar-brand {
    padding-left: 20px;
    padding-right: 20px;
}

.container-fluid {
    padding: 0 30px;
    margin: 0;
}

.navbar-collapse {
    padding: 0;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: rgba(232, 232, 232, 0.4);
    backdrop-filter: blur(8px);
}

.contactkleur:hover {
    color: #F2CC8E;
}

/*main*/

h1 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 25px;
    color: #F2CC8E;
}

h2 {
    color: black;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}


.iframe {
    display: flex;
    justify-content: center;
    margin: 2rem 0;

}

.iframe1 {
    border-radius: 10px;
}