* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    background-image: url("assets/Achtergrond_contact.png");
    background-size: cover;
}

/*Navbar*/
#color{
    color: #82B29A;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: black;
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
}
.nav-link:hover{
    color: #ABCCBC;
}
.btn-nav{
    border: none;
    background-color: transparent;
    width: 150px;
    height: 30px;
}
nav .d-flex {
    display: flex;
    justify-content: right;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: right;
}
a:hover{
    text-decoration: none;
    color: #ABCCBC;
}
.navbar-brand{
    padding-left: 20px;
    padding-right: 20px;
}
.download_knop {
    color: #ffffff;
    background-color: #3C405B;
    border-radius: 60px;
    padding: 10px 15px;
}
.download_knop:hover {
    color: #DF7A5E;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.container-fluid {
    padding: 0 30px;
    margin: 0;
}
.navbar-collapse {
    padding: 0;
}
.navbar {
    width: 100%;
    background-color: rgba(232, 232, 232, 0.4);
    position: fixed;
    backdrop-filter: blur(8px);
}
#nav {
    width: 40px;
}
/*Navbar*/

/*main*/
.heading {
    margin-top: 120px;
}

#contact {
    padding: 0;
    margin-bottom: 50px;
}

#belg {
    margin-bottom: 45px;
}

.adres {
    margin-bottom: 0;
}

#nummer {
    text-align: center;
}

.form {
    margin-bottom: 30px;
}

.radio {
    text-align: center;
    margin-bottom: 30px;
}

.radiobutton {
    margin-right: 20px;
}

#naam {
    width: 260px;
}

#mail {
    width: 100%;
}

#email {
    text-align: center;
}

#opmerking {
    width: 100%;
    height: 150px;
}

.button {
    width: 150px;
    height: 40px;
    margin-bottom: 100px;
}

.verzend {
    text-align: right;
}

iframe {
    width: 100%;
    height: 600px;
    border-radius: 20px;
    border: 3px solid #F2CC8E;
}

/*main*/

/*Footer*/

footer {
    background-color: #33343f;
    padding: 0;
}

.image_footer_1 {
    width: 50px;
}

.image_footer_2 {
    width: 25px;
    margin: 10px;
}

.background_image_1 {
    width: 100%;
}

.py-3 {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 1px;
    margin-bottom: 10px;
}

span {
    font-size: 12px;
}

ul li img {
    opacity: 70%;
}

ul li img:hover {
    opacity: 100%;
}
.tekstf {
    color: #919193;
}
.hidden {
    opacity: 0;
    transition: all 1.0s;
    filter: blur(5px);
    transform: translate(-100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}
/*footer*/

/*media query's*/
@media (max-width: 1920px) {
    body{
        background-image: url("./assets/achtergrondweb.png");
        background-size: cover;}
}
@media screen and (max-width: 820px) {
    html {
        height: 750px;
    }

    main {
        height: 55rem;
    }
    h1{
        color: #ffffff;
    }
    input {
        width: 350px;
        align-items: center;
        border: 3px solid #82B29A;
    }

    textarea {
        width: 350px;
        height: 150px;
        align-items: center;
        border: 3px solid #82B29A;
    }

    .submit {
        width: 120px;
        background-color: #ffffff;
        color: #82b29a;
        text-align: center;
        border: 1px solid transparent;
    }

    .submit:hover{
        background-color: #81b29a;
        color: #ffffff;
    }

    .delete {
        width: 120px;
        background-color: #ffffff;
        color: #3C405B;
        text-align: center;
        border: 1px solid transparent;
    }

    .delete:hover{
        background-color: #3C405B;
        color: #ffffff;
    }

    .col-md-12-3 {
        width: 350px;
        height: 150px;
        margin-left: 30px;
    }

    footer{
        margin-top: 50px;
    }
    .col-md-4-1{
        padding-right: 130px;
    }
    .image_footer_1{
        margin-right: 270px;
    }
    .image_footer_2{
        margin-left: 1px;
    }
    .image_footer_4{
        margin-right: 25px;
    }
    .row{
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media (max-width: 600px) {
    body{
        background-image: url("./assets/achtergrondtelefoon.png");
        background-size: cover;}
}
/*media query's*/
@media screen and (max-width: 600px) {
    .navbar {
        background-color: rgba(232, 232, 232, 0.65);

    }
}
}
