* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    background-image: url("assets/Achtergrond_contact.png");
    background-size: cover;
}

/*Navbar*/
#color{
    color: #82B29A;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: black;
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
}
.nav-link:hover{
    color: #ABCCBC;
}
.btn-nav{
    border: none;
    background-color: transparent;
    width: 130px;
    height: 30px;
}
nav .d-flex {
    display: flex;
    justify-content: right;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: right;
}
a:hover{
    text-decoration: none;
    color: #ABCCBC;
}
.navbar-brand{
    padding-left: 20px;
    padding-right: 20px;
}
.container-fluid {
    padding: 0 30px;
    margin: 0;
}
.navbar-collapse {
    padding: 0;
}
.navbar {
    width: 100%;
    background-color: rgba(232, 232, 232, 0.4);
    position: fixed;
    backdrop-filter: blur(8px);
}
#nav {
    width: 40px;
}
/*Navbar*/

/*main*/
.heading {
    margin-top: 120px;
}

#contact {
    padding: 0;
    margin-bottom: 50px;
}

#belg {
    margin-bottom: 45px;
}

.adres {
    margin-bottom: 0;
}

#nummer {
    text-align: center;
}

.form {
    margin-bottom: 30px;
}

.radio {
    text-align: center;
    margin-bottom: 30px;
}

.radiobutton {
    margin-right: 20px;
}

#naam {
    width: 260px;
}

#mail {
    width: 100%;
}

#email {
    text-align: center;
}

#opmerking {
    width: 100%;
    height: 150px;
}

.button {
    width: 150px;
    height: 40px;
    margin-bottom: 100px;
}

.verzend {
    text-align: right;
}

iframe {
    width: 100%;
    height: 600px;
    border-radius: 20px;
    border: 3px solid #F2CC8E;
}

/*main*/

/*Footer*/

footer {
    background-color: #33343f;
    padding: 0;
}

.image_footer_1 {
    width: 50px;
}

.image_footer_2 {
    width: 25px;
    margin: 10px;
}

.background_image_1 {
    width: 100%;
}

.py-3 {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 1px;
    margin-bottom: 10px;
}

span {
    font-size: 12px;
}

ul li img {
    opacity: 70%;
}

ul li img:hover {
    opacity: 100%;
}
.tekstf {
    color: #919193;
}