.container{
    background-color: rgba(13, 202, 240, 0);
}
html {
    height: 50rem;
}
/*Navbar*/

.nav-item{
    list-style: none;
}

.nav-link{
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 20px;
    margin: 15px;
    font-weight: bold;
}

.nav-link:hover{
    color: #81b29a;
}

.btn-nav{
    border: none;
    background-color: transparent;
    width: 130px;
    height: 30px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover{
    text-decoration: none;
    color: #81b29a;
}

.navbar-brand{
    padding-left: 20px;
    padding-right: 20px;
}

.col-md-4 {
    color: lightslategray;
    padding-bottom: 10px;
}

.col-md-12 {
    text-align: center;
    padding-top: 100px;
}

.col-md-12-1 {
    text-align: center;
    padding-top: 20px;
}

.col-md-12-2 {
    text-align: center;
    padding-top: 40px;
    align-items: center;
}
.row-1-1{
    padding-top: 80px;
    width: 100%;
    justify-content: center;
}
.locatie{
    width: 50px;
}
input {
    border-radius: 20px;
    width: 600px;
    height: 35px;
    padding-left: 15px;
}

label {
    padding-bottom: 40px;
    text-align: center;
}

textarea {
    border-radius: 20px;
    width: 600px;
    height: 200px;
    padding-left: 15px;
}

.submit {
    width: 150px;
    background-color: #82B29A;
    color: #ffffff;
    text-align: center;
    border:1px solid transparent;
}

.delete {
    width: 150px;
    background-color: #82B29A;
    color: #ffffff;
    text-align: center;
    border:1px solid transparent;
}

body{
    min-width: 414px;
    max-width: 1920px;
    min-height: 768px;
    max-height: 1180px;
}

#errors{
    text-align: center;
}

footer{
    background-color: white;
}
.d-flex{
    padding-left: 120px;
}
.image_footer_1 {
    width: 50px;
    padding-top: 10px;
    margin-right: 5px;
    margin-left: 190px;
}
.image_footer_2 {
    width: 25px;
    padding-top: 10px;
}
.image_footer_3 {
    width: 25px;
    padding-top: 10px;
}
.image_footer_4 {
    width: 25px;
    padding-top: 10px;
    margin-right: 120px;
}
.background_image_1 {
    width: 100%;
}

.py-3 {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 1px;
    margin-bottom: 10px;
}
.row{
    padding-right: 90px;
}


@media (max-width: 1920px) {
    body{
        background-image: url("./assets/achtergrondweb.png");
        background-size: cover;}
}
@media screen and (max-width: 820px) {
    html {
        height: 726px;
    }

    main {
        height: 55rem;
    }

    input {
        width: 350px;
        align-items: center;
    }

    textarea {
        width: 350px;
        height: 150px;
        align-items: center;
    }

    .submit {
        width: 120px;
        text-align: center;
        border: 1px solid transparent;
    }

    .delete {
        width: 120px;
        text-align: center;
        border: 1px solid transparent;
    }

    .col-md-12-3 {
        width: 350px;
        height: 150px;
        margin-left: 30px;
    }

    .nav-link-rechts {
        padding-left: 70px;
    }
    .d-flex{
        padding-left: 1px;
    }
    footer{
        margin-top: 50px;
    }
    .col-md-4-1{
        padding-right: 130px;
    }
    .image_footer_1{
        margin-right: 220px;
    }
    .row{

    }
    #1{
        text-align: center;
    }
}
@media (max-width: 600px) {
    body{
        background-image: url("./assets/achtergrondtelefoon.png");
        background-size: cover;}
}

