* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

h2 {
    color: #82B29A;
    font-weight: bold;
}

div {
    padding-top: 20px;
    padding-bottom: 20px;
}