* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

h2 {
    color: #82B29A;
    font-weight: bold;
}

div {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Navbar*/

.nav-item{
    list-style: none;
}

.nav-link{
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 20px;
    margin: 15px;
    font-weight: bold;
}

.nav-link:hover{
    color: #81b29a;
}

.btn-nav{
    border: none;
    background-color: transparent;
    width: 130px;
    height: 30px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover{
    text-decoration: none;
    color: #81b29a;
}

.navbar-brand{
    padding-left: 20px;
    padding-right: 20px;
    width: 100px;
}