* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

/*CSS*/

body {
    background-image: url("assets/achtergrond_faq.png");
    background-size: cover;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    padding-top: 50px;
}

h2 {
    color: #82B29A;
    font-weight: bold;
    font-size: 23px;
}

div {
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    font-family: "Segoe UI", Verdana,sans-serif;
}


/*Navbar*/

#nav {
    width: 40px;
}
.nav-item{
    list-style: none;
}

.nav-link{
    text-decoration: none;
    color: black;
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
}

.nav-link:hover{
    color: #81b29a;
}

.btn-nav{
    border: none;
    background-color: transparent;
    width: 130px;
    height: 30px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover{
    text-decoration: none;
    color: #81b29a;
}

.navbar-brand{
    padding-left: 20px;
    padding-right: 20px;
}

.container-fluid {
    padding: 0 30px;
    margin: 0;
}
.navbar-collapse {
    padding: 0;
}

.navbar {
    position: fixed;
    width: 100%;
}

/*Javascript*/

.antwoorden {
    display: none;
}

/*Footer*/

.image_footer_1 {
    width: 50px;
    padding-top: 20px;
}

.image_footer_2 {
    width: 25px;
    padding-top: 20px;
    margin: 10px;
}

.background_image_1 {
    width: 100%;
}

.py-3 {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 1px;
    margin-bottom: 10px;
}

span {
    font-size: 12px;
}

ul li img {
    opacity: 70%;
}

ul li img:hover {
    opacity: 100%;
}

/*Footer*/

footer {
    background-color: #33343f;
    /*border: 1px solid  #000;*/
    padding: 0;
}

.image_footer_1 {
    width: 50px;
}

.image_footer_2 {
    width: 25px;
    margin: 10px;
}

.background_image_1 {
    width: 100%;
}

.py-3 {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 1px;
    margin-bottom: 10px;
}

span {
    font-size: 12px;
}

ul li img {
    opacity: 70%;
}

ul li img:hover {
    opacity: 100%;
}
.tekstf {
    color: #919193;
}
