/*Footer*/

footer {
    background-color: white;
    /*border: 1px solid  #000;*/
    padding: 0;
}

.image_footer_1 {
    width: 50px;
    padding-top: 20px;
}

.image_footer_2 {
    width: 25px;
    padding-top: 20px;
    margin: 10px;
}

.background_image_1 {
    width: 100%;
}

.py-3 {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 1px;
    margin-bottom: 10px;
}

span {
    font-size: 12px;
}

ul li img {
    opacity: 70%;
}

ul li img:hover {
    opacity: 100%;
}