* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Dotties Vanilla";
    src: url("Dotties Vanilla Demo License");
}
header .container {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("assets/Achtergrond_home.png");
    background-size: cover;
}
p {
    font-family: "Segoe UI", Verdana, sans-serif;
}
header div img {
    width: 100%;
}
#familie {
    width: 100%;
}

#boekje {
    color: #3C405B;
}
.mockup {
    width: 100%;
}
#agenda {
    color: #F2CC8E;
}
#opvang {
    color: #82B29A;
}
#netwerken {
    color: #DF7A5E;
}
#logo {
    padding: 10px 5px;
}
.head {
    padding-top: 60px;
}
header .btn {
    border: none;
    width: 140px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .head {
        padding-top: 100px;
    }
    header h1 {
        font-size: large;
    }
    header .btn {
        border: none;
        width: 120px;
    }
}
@media screen and (min-width: 992px) {
    header div h1 {
        text-align: left;
    }
    .kindtop {
        padding-top: 13%;
    }
    #boek {
        padding-top: 2rem;
    }
    .tekst {
        font-size: 1.5rem;
    }
    #boekje {
        font-size: 2rem;
    }
    #agendap {
        padding-top: 3rem;
    }
    .agendatop {
        padding-top: 3rem;
    }
    #opv {
        padding-top: 3rem;
    }
    #netwerken {
        text-align: right;
    }
    .tekstn {
        font-size: 1.5rem;
        text-align: right;
    }
    #logo {
        padding: 60px 25px;
    }
    #familie {
        padding-top: 20px;
    }
    header .btn {
        width: 150px;
    }
}

/*Navbar*/

.nav-item{
    list-style: none;
}

.nav-link{
    text-decoration: none;
    color: black;
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
}

.nav-link:hover{
    color: #81b29a;
}

.btn-nav{
    border: none;
    background-color: transparent;
    width: 130px;
    height: 30px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover{
    text-decoration: none;
    color: #81b29a;
}

.navbar-brand{
    padding-left: 20px;
    padding-right: 20px;
}

.container-fluid {
    padding: 0 30px;
    margin: 0;
}
.navbar-collapse {
    padding: 0;
}

.navbar {
    position: fixed;
    width: 100%;
}
#nav {
    width: 40px;
}

/*Footer*/

footer {
    background-color: #33343f;
    /*border: 1px solid  #000;*/
    padding: 0;
}

.image_footer_1 {
    width: 50px;
}

.image_footer_2 {
    width: 25px;
    margin: 10px;
}

.background_image_1 {
    width: 100%;
}

.py-3 {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 1px;
    margin-bottom: 10px;
}

span {
    font-size: 12px;
}

ul li img {
    opacity: 70%;
}

ul li img:hover {
    opacity: 100%;
}
.tekstf {
    color: #919193;
}