* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Verdana, sans-serif;
}
header div h1 {
    font-family: "Titan One", Verdana, sans-serif;
    text-align: center;
}
header div img {
    width: 100%;
}
#familie {
    width: 100%;
}
main div h2 {
    font-family: "Titan One", Verdana, sans-serif;
}
#boekje {
    color: #3C405B;
}
.mockup {
    width: 100%;
}

#agenda {
    color: #F2CC8E;
}
#opvang {
    color: #82B29A;
}
#netwerken {
    color: #DF7A5E;
}
@media screen and (min-width: 992px) {
    header div h1 {
        text-align: left;
    }
    .app img, .goog img {
        width: 70%;
    }
    .app img {
        margin-left: 30%;
    }
    .goog img {
        margin-left: 5%;
    }
    header .container {
        margin: 0;
        padding: 0;
    }
    .kindtop {
        padding-top: 13%;
    }
    #boek {
        padding-top: 2rem;
    }
    .tekst {
        font-size: 1.5rem;
    }
    #boekje {
        font-size: 2rem;
    }
    #agendap {
        padding-top: 3rem;
    }
    .agendatop {
        padding-top: 3rem;
    }
    #opv {
        padding-top: 3rem;
    }
    #netwerken {
        text-align: right;
    }
    .tekstn {
        font-size: 1.5rem;
        text-align: right;
    }
}