* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Francois One', sans-serif;
}

body {
    min-width: 414px;
    max-width: 1920px;
    min-height: 768px;
    max-height: 1180px;
}
.hoofding{
    font-size: 40px;
    color: #DF7A5E;
}
.overons h2 {
    font-size: 26px;
    color: #82B29A;
}
.foto {
    width: 100%;
}
.tekst {
    color: #3C405B;
    font-family: "Segoe UI", sans-serif;
    font-size: 18px;
}
.contact-color{
    color: #DF7A5E;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 50px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    font-size: 22px;
}
button:hover {
    background-color: #DF7A5E;
    color: #ffffff;
}
@media screen and (max-width: 1920px){
    body {
        background-image: url("assets/background_overons.png");
        background-size: cover;
    }
}
@media screen and (max-width: 600px){
    body {
        background-image: url("assets/background_overon_phone.png");
        background-size: cover;
    }
}

