/*Algemeen*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Titan One', cursive;}


body{
    min-width: 414px;
    max-width: 1920px;
    min-height: 768px;
    max-height: 1180px;
}

/*Navbar*/

.nav-item{
    list-style: none;
}

.nav-link{
    text-decoration: none;
    color: black;
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
}

.nav-link:hover{
    color: #81b29a;
}

.btn-nav{
    border: none;
    background-color: transparent;
    width: 130px;
    height: 30px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover{
    text-decoration: none;
    color: #81b29a;
}

.navbar-brand{
    padding-left: 20px;
    padding-right: 20px;
}

.btn-shop{
    border: none;
    background-color: transparent;
}
/*Footer*/

.image_footer_1 {
    width: 50px;
    padding-top: 20px;
}

.image_footer_2 {
    width: 25px;
    padding-top: 20px;
    margin: 10px;
}

.background_image_1 {
    width: 100%;
}

.py-3 {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 1px;
    margin-bottom: 10px;
}
