

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Titan One', cursive;}


body{
    min-width: 414px;
    max-width: 1920px;
    min-height: 768px;
    max-height: 1180px;
}

@media (max-width: 1920px) {
    body{
        background-image: url("./assets/achtergrondweb.png");
        background-size: cover;}
}

@media (max-width: 600px) {
    body{
        background-image: url("./assets/achtergrondtelefoon.png");
        background-size: cover;}
}

/*Teksten*/
.h1-header{
    float: left;
    font-size: 60px;
    font-family: 'Titan One', cursive;
}
.p-header{
    float: left;
    text-align: left;
    font-size: 20px;
}

.h2-tussentitels{
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Titan One', cursive;
    font-size: 35px;
}

.h4-oriproducten{
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-family: 'Titan One', cursive;
}

.p-prijs{
    font-size: 25px;
}

.p-producten{
    font-size: 18px;
}

/*Afronden foto*/
.foto-afronden{
    border-radius: 15px;
}

.img-fluid{
    max-width: 80%;
    height: auto;
}

/*Knoppen producten*/
#aantal{
    width: 38px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 2px solid #81b29a;
    border-top: 2px solid #81b29a;
    border-bottom: 2px solid #81b29a;
    border-right: 0;
}

#aantal-speen{
    width: 38px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 2px solid #81b29a;
    border-top: 2px solid #81b29a;
    border-bottom: 2px solid #81b29a;
    border-right: 0;
}

#aantal-bavet{
    width: 38px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 2px solid #81b29a;
    border-top: 2px solid #81b29a;
    border-bottom: 2px solid #81b29a;
    border-right: 0;
}

#aantal-feestvarken{
    width: 38px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 2px solid #81b29a;
    border-top: 2px solid #81b29a;
    border-bottom: 2px solid #81b29a;
    border-right: 0;
}

#aantal-babynest{
    width: 38px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 2px solid #81b29a;
    border-top: 2px solid #81b29a;
    border-bottom: 2px solid #81b29a;
    border-right: 0;
}

#aantal-kraamvogel{
    width: 38px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 2px solid #81b29a;
    border-top: 2px solid #81b29a;
    border-bottom: 2px solid #81b29a;
    border-right: 0;
}

#aantal-nasci{
    width: 38px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 2px solid #81b29a;
    border-top: 2px solid #81b29a;
    border-bottom: 2px solid #81b29a;
    border-right: 0;
}

#aantal-pelicano{
    width: 38px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 2px solid #81b29a;
    border-top: 2px solid #81b29a;
    border-bottom: 2px solid #81b29a;
    border-right: 0;
}

#aantal-nestel {
    width: 38px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 2px solid #81b29a;
    border-top: 2px solid #81b29a;
    border-bottom: 2px solid #81b29a;
    border-right: 0;
}

#aantal-maat{
    width: 43px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 2px solid #81b29a;
    border-top: 2px solid #81b29a;
    border-bottom: 2px solid #81b29a;
    border-right: 0;
}

#aantal-maat-aantal{
    width: 38px;
    height: 40px;
    border-left: 0;
    border-top: 2px solid #81b29a;
    border-bottom: 2px solid #81b29a;
    border-right: 0;
}

.btn{
    width: 38px;
    height: 40px;
    border-left: 0;
    border-top: 2px solid #81b29a;
    border-bottom: 2px solid #81b29a;
    border-right: 2px solid #81b29a;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(129, 178, 154, 0.7);
    color: white;
}

select{
    background-color: rgb(129, 178, 154, 0.7);
    color: white;
}

/*Navbar*/

.nav-item{
    list-style: none;
}

.nav-link{
    text-decoration: none;
    color: black;
    font-family: 'Titan One', cursive;
}

.nav-link-hover{
    color: #81b29a;
}

.btn-nav{
    border-radius: 10px;
    background-color: transparent;
    width: 130px;
    height: 30px;
}

a{
    text-decoration: none;
    color: black;
}














